<link rel="stylesheet" type="text/css" href="./css/index.css">

<div class="mainFrame">
    <!-- 主框架 -->
        <div class="imgBanner">
            
            <div class="brief">
            </div>
        </div>

        <div id="content" >
            <div class="nav-title  navbar">
                <div>
                    <ul class=" nav navbar-nav ">
                        <li role="presentation" class="active col-xs-3 col-md-6 col-sm-6"><a href="#">最新活动</a></li>
                        <li role="presentation" class="col-xs-3 col-md-6 col-sm-6"><a href="#">历史活动</a></li>
                    </ul>
                </div>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="搜索">
                    </div>
                    <button type="submit" class="btn btn-default search-btn">搜索</button>
                </form>
            </div>
        <%- partial('./models/actlist',{actinfo:actinfo}) %>
    </div> <!-- content 结束 -->
        
</div>

<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script>
    
    var windowHei = $(window).height();
    //控制imgbanner和guideBar的大小的，使其自适应窗口
    $('.imgBanner').height(windowHei);
    $(window).resize(function(event) {
        /* Act on the event */
        $('.imgBanner').height($(window).height());
    });
    
</script>
</body>
</html>
