<%-
  Loader('/js/blog.min.js','/css/blog.min.css')
  .css('/css/blog.css')
  .css('/css/wangEditor.min.css')
  .js('/js/wangEditor.min.js')
  .dev(filepath);
%>

<div class="mainFrame">
<div class="nav-title  navbar">
    <div class="nav-title-head clearfix" style="width:100%;">
    <!--扔到服务器做重定向好了-->
    <h2 class="navbar-text" >管理员&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
    </div>
    <div>
        <ul class=" nav navbar-nav ">
            <li role="presentation" class="active"><a href="#">列表</a></li>
        </ul>
    </div>
</div><!-- nav-title -->
<h3>用户列表</h3>
<%- partial('./models/userlist',{userlist:userlist})%>
<h3>活动列表 <button class="btn btn-success">新建活动</button> </h3>
<%- partial('./models/actlist',{actinfo:actinfo}) %>

</div><!--mainframe结束-->
