<link rel="stylesheet" type="text/css" href="./css/index.css">
<div class="mainFrame">
    <!-- 主框架 -->        
        <div class="widget imgBanner"></div>               
        <div class="container login-box">
               <h1 class="login-box-title">HELLO TU！</h1>
               <h3 class="login-box-title-small">南开腾讯创新俱乐部</h3>
               <h4 class="login-box-line">···········································································<span style="font-weight:bold;"><a href="/login">登录</a></span>·<span><a href="/register">注册</a></span>···········································································</h4>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
                  <input id="username" type="text" class="form-control" placeholder="请输入账号" aria-describedby="basic-addon1">
                </div>

                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-lock" id="basic-addon2"></span>
                  <input id="password" type="password" class="form-control" placeholder="请输入密码" aria-describedby="basic-addon2">
                </div>
               <button id="loginBtn">登陆</button>
        </div>

</div>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script>
    $('.allbody').hide();
    window.onload = function(){
       $('.Myanimate').css('display','none');
       $('.allbody').css('display','block');
    }
    
    var windowHei = $(window).height();
    //控制imgbanner和guideBar的大小的，使其自适应窗口
    $('.imgBanner').height(windowHei);
    $(window).resize(function(event) {
        /* Act on the event */
        $('.imgBanner').height($(window).height());
    });
    
    
    $('.badge').each(function(index, el) {
        if($(el).text() == "0"){
           $(el).text(""); 
        }    
    });
    
</script>

<script type="text/javascript">
    
    $('#loginBtn').click(function(event) {
        var username = $('#username').val();
        var password = $('#password').val();

        $.ajax({
            url:'/login',
            type:'Post',
            data:{username:username,password:password},
            success:function(data){
                if(data.valid == false)
                {
                    alert("用户名或密码不正确");
                    window.location.href ="/login";
                }
                else{
                     window.location.href ="/";
                }
            }
        });
    });


</script>
</body>
</html>