<link rel="stylesheet" type="text/css" href="./css/index.css">

<div class="mainFrame">
    <!-- 主框架 -->
        <div class="widget imgBanner"></div>
        <div class="container login-box">
               <h1 class="login-box-title">HELLO TU！</h1>
               <h3 class="login-box-title-small">南开腾讯创新俱乐部</h3>
               <h4 class="login-box-line">···········································································<span><a href="/login">登录</a></span>·<span style="font-weight: bold;"><a href="/register">注册</a></span>···········································································</h4>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-user"></span>
                  <input id="username" type="text" class="form-control" placeholder="请输入账号">
                </div>
                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-leaf"></span>
                  <input id="usernick" type="text" class="form-control" placeholder="写一个昵称">
                </div>

                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-lock" ></span>
                  <input id="password" type="password" class="form-control" placeholder="请输入密码" >
                </div>

                <div class="input-group">
                  <span class="input-group-addon glyphicon glyphicon-lock" ></span>
                  <input id="repeatpassword" type="password" class="form-control" placeholder="再输入密码">
                </div>

               <button id="registerBtn">注册</button>
        </div>

</div>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script>
    $('.allbody').hide();
    window.onload = function(){
       $('.Myanimate').css('display','none');
       $('.allbody').css('display','block');
    }

    var windowHei = $(window).height();
    //控制imgbanner和guideBar的大小的，使其自适应窗口
    $('.imgBanner').height(windowHei);
    $(window).resize(function(event) {
        /* Act on the event */
        $('.imgBanner').height($(window).height());
    });


    $('.badge').each(function(index, el) {
        if($(el).text() == "0"){
           $(el).text("");
        }
    });

</script>

<script type="text/javascript">

    $('#registerBtn').click(function(event) {
        var username = $('#username').val();
        var usernick = $('#usernick').val();
        var password = $('#password').val();
        var repeatpassword = $('#repeatpassword').val();
        var flag = 1;
        //对所有的数据进行检测
        function getAlert(str){
            var alertText = "<div class=\"alert alert-warning\" role=\"alert\" style=\"width: 50%;margin:0 auto;\">"+str+"</div>";
            return alertText;
        };

        var pat_uname = new RegExp(/^[a-zA-Z]{1}[0-9a-zA-Z_]{1,12}/);
        var pat_unick = new RegExp(/[\u4e00-\u9fa5_a-zA-Z0-9_]{3,12}/);

        if(password != repeatpassword){
                $('#repeatpassword').parent().after(getAlert("两次输入密码不一样"));
                flag = 0;
        }
        if(!pat_uname.test(username)){
            $('#username').parent().after(getAlert("用户名必须以字母开头且不能出现特殊字符和超过12位"));
            flag = 0;
        }
        if(!pat_unick.test(usernick)){
             $('#usernick').parent().after(getAlert("昵称也不要含特殊字符，最好别起太长"));
             flag = 0;
        }
        if(flag == 1){
          $.ajax({
            url:'/register',
            type:'Post',
            data:{userName:username,userNick:usernick,passWord:password},
            success:function(data){
                if(data.valid == false)
                {
                    alert("用户名或密码不正确");
                    window.location.href ="/";
                }
                else{
                    swal('创建账户成功，正在跳转');
                    setTimeout(function(){window.location.href ="/login";}, 2000);
                }
            }
          });
        }

    });

</script>
