<div class="userInfo" id="userInfo">
    <p>
        <% if(!user){%>

        <a href="/login">
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 登 陆
        </a>
        <a href="/register">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  注 册
        </a>
        <% }else {
           user = user[0];
        %>
            <!--用户登录之后-->
            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if(user.userImg){ %>
            <img class="img-circle userhead" src="<%- user.userImg %>"/>
            <% }else{ %>
            <img class="img-circle userhead" src="<%- setting.userImg %>"/>
            <% } %>
            <a href="#">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </a>
            </div>
            <ul class="dropdown-menu pull-right" >
                <li>
                    <a  href="/user/<%- user.userId %>"><p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>我的主页</p>
                    </a>
                </li>
                <li><a  href="/collect">
                    <p><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>我的收藏</p>
                    </a>
                </li>
                <li>
                    <a  href="/message">
                    <p><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>私信  <span class="badge"><%= user.unMsgNum %></span></p>
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                   <a  href="/logout"><p><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>登出</p>
                   </a>
                </li>
            </ul>
        <% } %>
    </p>
</div>

<style type="text/css">
#userInfo{position: absolute;top: 0;right: 5%;}
.userInfo{padding-top: 30px;}
.userInfo a{color: #6b7776;}
.userhead{height: 3em;width: 3em;cursor: pointer;}
</style>