<%- Loader('/css/blog.min.css')
    .css('/css/blog.css')
    .css('/css/hideinfo.css')
    .dev(filepath);
%>

<div class="mainFrame">
<div class="nav-title  navbar">
    <div class="nav-title-head clearfix" style="width:100%;">
    <!--扔到服务器做重定向好了-->
    <h2 class="navbar-text" >文章列表&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-success btn-md new" >+创建新的文章</a></h2>
    </div>

    <div >
        <ul class=" nav navbar-nav ">
            <li role="presentation" class="active"><a href="#">全部</a></li>
            <li role="presentation"><a href="#">已发布</a></li>
            <li role="presentation"><a href="#">未发布</a></li>
        </ul>
    </div>

    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="不要搜了，还没做呢">
        </div>
        <button type="submit" class="btn btn-default search-btn">搜索</button>
    </form>
</div><!--navbar结束-->


<div class="row">
<%- partial('./models/blog',{articles:articles})%>
</div><!--row结束-->
</div><!--mainframe结束-->

<%- Loader('/css/blog.min.js')
    .js('/js/writeblog.js')
.dev(filepath);
%>
