<div class="nk-article-content nk-block-blue">
    <div class="nk-article-content-title" >
        测试文章标题
    </div>
    <div class="nk-article-content-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eligendi asperiores assumenda atque impedit perferendis quasi, ratione facere reprehenderit, quia magnam illum, accusamus qui praesentium voluptates quos, alias id aperiam?<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eligendi asperiores assumenda atque impedit perferendis quasi, ratione facere reprehenderit, quia magnam illum, accusamus qui praesentium voluptates quos, alias id aperiam?    <br>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eligendi asperiores assumenda atque impedit perferendis quasi, ratione facere reprehenderit, quia mag<br>nam illum, accusamus qui pr<br>aese<br>ntium voluptates quos, alias id aperiam?        Lorem ipsum dolor sit amet, consectetur adipisicing el<br>it. Repudiandae eligendi asperiores assumenda atque impedit perferendis q<br>uasi, ratione facere reprehenderit, quia magnam illum, accusamus qui praesentium voluptates quos, alias id aperiam?        Lo<br>rem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eligendi asperiores assumenda atque impedit perferendis quasi, ratione facere reprehenderit, quia magnam illum, accusamus qui praese<br>ntium voluptates quos, alias id aperiam?      <br>  Lorem ipsum dolor sit ame<br>t, consectetur adipisicing elit. Repudiandae eli<br>gendi aspe<br>riores assumenda atque impedit perferendis quasi, ratione facere reprehenderit, quia magnam illum, accusamus qui praesentium volu<br>ptates quos, alias id aperiam?
    </div>
</div>