<%
var collect = 0,like = 0;
if(collectinfo != null){
    for(var i = 0;i < collectinfo.length ;i++){
        if(collectinfo[i].colType == 1){
            collect = 1; 
        }

        if(collectinfo[i].colType == 2){
            like = 1; 
        }
    }   
}
%>

<div class="fixedBar">
    <ul>
        <li class="upTop hidden"><h3><span class="glyphicon glyphicon-chevron-up" title="返回顶层"></span></h3></li>
        <li class="collect  <% if(collect == 1){console.log(collect); %> <%= 'active' %> <% } %> "> <h3><span class="glyphicon glyphicon-bookmark " title="收藏"></span></h3></li>
        <li class="like <%if( like == 1){%> <%= 'active' %> <%}%> "><h3><span class="glyphicon glyphicon-thumbs-up" title="点赞"></span></h3></li>
        <li class="codeimg">
            <h3>
                <span class="glyphicon glyphicon-th" title="二维码"></span>
            </h3>
            <div class="codeimgi hidden">
            <h3>更多信息请关注我们的微信公众平台:nkutic</h3>
            <img src="./img/code.jpg">
            </div>
        </li>
    </ul>
</div>


<script type="text/javascript">
var articleId = $('.show-article-mainframe').attr('data-id');

var likeListen = function(){

$('.like').click(function(event) {
        /* Act on the event */
        var self = $(event.currentTarget);
        if(self.hasClass('active') == false){
             $.ajax({
                url:'/user',
                type:'Post',
                data:{action:'like',articleId:articleId},
                success:function(result){
                    if(result.valid == 1){
                       self.toggleClass('active');
                       self.attr('title','取消喜欢');
                    }
                    if(result.valid == 3){
                        swal({type:"warning",title:"信息",text:"请先登录!"},function(){
                            window.location.href = '/login'; 
                        });
                        
                    }
                    
                }
            });   
        }
        else{
            $.ajax({
                url:'/user',
                type:'Post',
                data:{action:'nolike',articleId:articleId},
                success:function(result){
                    if(result.valid == 1){
                      self.toggleClass('active');
                      self.attr('title','喜欢');
                    }
                    if(result.valid == 3){
                        swal({type:"warning",title:"信息",text:"请先登录!"},function(){
                            window.location.href = '/login'; 
                        }); 
                    }
                    
                }
            });   

        }

    });
}



var collectListen = function(){
    $('.collect').click(function(event) {
        /* Act on the event */
        if($('.collect').hasClass('active') == false){
             $.ajax({
                url:'/user',
                type:'Post',
                data:{action:'collect',articleId:articleId},
                success:function(result){
                    if(result.valid == 1){
                       $('.collect').toggleClass('active');
                       $('.collect').attr('title','取消收藏');
                       swal('收藏成功，可在我的收藏中查看');
                    }
                    if(result.valid == 3){
                        swal({type:"warning",title:"信息",text:"请先登录!"},function(){
                            window.location.href = '/login'; 
                        });
                        
                    }
                    
                }
            });   
        }
        else{
            $.ajax({
                url:'/user',
                type:'Post',
                data:{action:'nocollect',articleId:articleId},
                success:function(result){
                    if(result.valid == 1){
                       $('.collect').toggleClass('active');
                       $('.collect').attr('title','收藏');
                    }
                    if(result.valid == 3){
                        swal({type:"warning",title:"信息",text:"请先登录!"},function(){
                            window.location.href = '/login'; 
                        }); 
                    }
                    
                }
            });   

        }

    });
}



var topListen = function(){
     $(window).scroll(function(){
        if ( $(window).scrollTop() > 300 ) {
            $('.upTop').removeClass('hidden');
        }
        if($(window).scrollTop() == 0){
            $('.upTop').addClass('hidden');
        }
    });

    $('.upTop').click(function(event) {
       $(window).scrollTop(0);
    });       
}


var codeimgListen = function(){
    $('.codeimg').click(function(event) {
        /* Act on the event */
        $('.codeimgi').toggleClass('hidden');
    });
}


$(function(){
   topListen();
   collectListen();
   likeListen();
   codeimgListen();
})

</script>